@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;  /*10px */
}

body{
  font-family:"Open Sans";
  font-weight:400;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  padding:2em 5em;

}

h1{
  font-family:"Poppins";
  font-weight: 600;
  color:#FFF;
  font-size:2.5rem;
  margin-left:1em;
}

h2{
  font-family:"Poppins";
  font-weight:600;
  color:#FFF;
  font-size:2.5rem;
}

.wrapper{
  display:grid;
  grid-template-columns:1fr .7fr;
  grid-template-rows:15em 20em 10em;
  grid-template-areas:
  "item1 ."
  "item2 item3"
  "item4 item4";
  grid-gap:2em;
  width:100%;
}

.item1{
  grid-area:item1;
}

.item2{
  grid-area:item2;
  align-self: center;
  justify-self:center;
}

.item3{
  grid-area:item3;
  align-self: start;
  justify-self:start;
}

.item4{
  grid-area:item4;
  align-self: end;
  justify-self:end;
}

.item3 p{
  color:#fff;
  line-height:1.7;
  font-size:1.3rem;
}

.item4 img:hover{
  background-color:hsl(300, 69%, 71%);
}

.item4 img{
  background-color: hsl(257, 40%, 49%);
}

.mockUp{
  max-width:80%;
  max-height:80%;
}


button{
  font-size:1.2rem;
  padding:1em 4em;
  border-radius:2em;
  border:none;
  color:hsl(257, 40%, 49%)
}

button:hover{
  background-color:hsl(300, 69%, 71%);
}



@media screen and (max-width: 376px){

  body{
    font-family:"Open Sans";
    font-weight:400;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    height:15vh;
    padding:0;
  }
  h1{
    font-family:"Poppins";
    font-weight: 600;
    color:#FFF;
    font-size:2rem;
    display:inline-block;
    margin:0;
  }

  h2{
    font-family:"Poppins";
    font-weight:600;
    color:#FFF;
    font-size:2rem;
  }

  .wrapper{
    grid-template-columns:1fr;
    grid-template-rows:2rem 25rem 20rem 4rem;
    grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4";
  }

  .item1{
    grid-area:item1;
  }

  .item2{
    grid-area:item2;
  }

  .item3{
    grid-area:item3;
    align-self: center;
    justify-self:center;
    text-align: center;
  }

  .item4{
    grid-area:item4;
    margin:0 auto;
  }

  .mockUp{
    max-width:100%;
    max-height:100%;
    margin:0;
  }

  .item3 p {
    line-height: 2;
    font-size:1.1rem;
  }

  .huddle{
    margin-left:10rem;
  }
}
